/* Content */
#custom-column {
    margin: auto;
    margin-bottom: 150px;
    height: auto;
}

/* image container */
.image-container {
    position: relative;
    width: 250px;
}

.nav-item > a {
    color: #5f27cd;
}

.nav-item > a:hover {
    color: #4d4d4d;
}

.nav-tabs .nav-link.active {
    color: #212529;
    border-color: #9EA1A3 #9EA1A3 #fff;
}

/* Button */
#btnUpdate {
    width: 150px;
    margin: 10px;
    margin-right: 30px;
    margin-bottom: 0;
    border: 1px solid #6610f2;
    background-color: #6610f2;
}

#btnUpdate:hover {
    border: 1px solid #5f27cd;
    background-color: #5f27cd;
    color: #feffff;
}

#back-button {
    width: 150px;
    margin: 10px;
    margin-bottom: 0;
    float: left;
    border: 1px solid #6610f2;
    background-color: #fcfcfc;
    color: #6610f2;
}

#back-button:hover {
    text-decoration: underline;
    border: 1px solid #5f27cd;
    background-color: #fcfcfc;
    color: #5f27cd;
}

#buttons {
    display: inline;
}

#btnUpdate {
    float: right;
}

.list-label {
    margin: 20px 10px 30px 10px;
    padding: 5px;
    letter-spacing: 1px;
}

.profile-section {
    margin: auto;
    width: 500px;
    text-align: center;
}
