<!DOCTYPE html>
<html>
<head>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<h1 style="color: DodgerBlue">Employee Management System (EMS)</h1>

		<body bgcolor="lightgrey">
			<!-- <h1>SAVE SUCCESSFUL</h1><br>
			<h2>Following Employee has been added to the database</h2><br>
			<h2>{{ name }}</h2><br> -->
			<title>Add Emp Output</title>
				<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

					Employee Added Successfully<br><br>
				<!-- <button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Add Employee</button><br><br> -->

		  		<!-- Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br> -->

		  		First Name:<br> 
		  		<p style="height:25px;font-size:14pt;color:grey;"> Jackson </p><br><br>

		  		Last Name:<br> 
		  		<p style="height:25px;font-size:14pt;color:grey;"> Lee </p><br><br>

		  		Age:<br> 
		  		<p style="height:25px;font-size:14pt;color:grey;"> 33 </p><br><br>

		  		Phone Number:<br> 
		  		<p style="height:25px;font-size:14pt;color:grey;"> 010-9552222 </p><br><br>

		  		Gender:<br> 
		  		<p style="height:25px;font-size:14pt;color:grey;"> Male </p><br><br>

		  		Email:<br> <p style="height:25px;font-size:14pt;color:grey;"> goodboi@gmail.com </p><br><br>

		  		Address:<br> <p style="height:25px;font-size:14pt;color:grey;"> Taman Bunga 2 </p><br><br>

		  		Primary Skills:<br> <p style="height:25px;font-size:14pt;color:grey;"> Playing Golf </p><br><br>

		  		Department:<br> <p style="height:25px;font-size:14pt;color:grey;"> Sales </p><br><br>

		  		Position:<br> <p style="height:25px;font-size:14pt;color:grey;"> Salesmen </p><br><br>

		  		Date Hired:<br> <p style="height:25px;font-size:14pt;color:grey;"> 5/12/2021 </p><br><br>

		  		Salary:<br> <p style="height:25px;font-size:14pt;color:grey;"> RM3000 </p><br><br>

		  		Employee Image: <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Employee Image"><br><br>

		  		<button type="button" onclick="" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Edit</button>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Confirm</button>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
