<!DOCTYPE html>

<html>
<head>
   <title>Attendance</title>

   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/theme.bootstrap_4.css') }}">
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/global.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom_table.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.tablesorter.pager.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
   <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.3.1.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}" defer></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/table_script.js') }}" defer></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/manage_emp.js') }}" defer></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/popper.min.js') }}" defer></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.tablesorter.js') }}" defer></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.tablesorter.widgets.js') }}" defer></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.tablesorter.pager.js') }}" defer></script>
  
   <style>
    /* remove edit-delete column seach input & sort btn */
    #edit-delete-head{
      background-image: url('#') !important;
      cursor: default !important;
    }
    [role~=search]>td:last-child>input{
      display: none;
    }
    /* style for edit & delete buttons */
    tbody>tr>td:last-child{
      width: 7%;
      white-space: nowrap;
    }
    tbody>tr>td:last-child a{
      display: inline;
      /*float: left;*/
      text-decoration: none;
      margin: 0px;
    }
    tbody>tr>td:last-child a:last-child{
      margin:0px 7px 0px 8px;
      /*float: right;*/
    }
    tbody>tr>td:last-child>a img{
      max-width: 20px;
      max-height: 20px;
    }
    tbody>tr>td:last-child>input{
      max-width: 20px;
      max-height: 20px;
    } 
    #profile-icon{
      margin-right: 12px;
    }
    .search-section{
      margin: auto;
      margin-top: 30px;
      width: 500px;
      text-align: center;
    }
  </style>

   <script type="text/javascript">
      //Disable the default MouseOver functionality of ASP.Net Menu control.
      //Sys.WebForms.Menu._elementObjectMapper.getMappedObject = function () {
      //    return false;
      //};
      $(document).ready(function () {

         //    //Remove the style attributes.
         //    $(".navbar-nav li, .navbar-nav a, .navbar-nav ul").removeAttr('style');

         //Apply the Bootstrap class to the Submenu.
         $(".dropdown-menu").parent().removeClass().addClass('dropdown');

         //Apply the Bootstrap properties to the Submenu.
         $(".dropdown>a").removeClass().addClass('dropdown-toggle').append('<b class="caret"></b>').attr('data-toggle', 'dropdown');

         //    //Apply the Bootstrap "active" class to the selected Menu item.
         //    $("a.selected").closest("li").addClass("active");
         //    $("a.selected").closest(".dropdown-toggle").addClass("active");

         //    remove default click redirect effect           
         $('dropdown-toggle').attr('onclick', '').off('click');
              
      });
   </script>
</head>
<body>
   <form id="form1" action="/attendance" method = "POST" enctype="multipart/form-data">

      <nav class="navbar sticky-top navbar-expand-md navbar-light bg-faded">
         <div class="container-fluid">

            <!-- Brand -->
            <asp:HyperLink ID="brandLink" runat="server" class="navbar-brand" NavigateUrl="~/art_gallery.aspx">
               <asp:Image ID="logo" runat="server" src="image/palette.svg" alt="" class="mr-2" Width="50" ClientIDMode="Static" />
               GALERI
            </asp:HyperLink>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" runat="server" clientidmode="Static">
               <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
             <ul class="nav navbar-nav mx-auto">
              <!-- menu -->
              <li class="nav-item">
                <a class="nav-link" href="/manageEmp">Manage Employee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Attendance</a>
              </li>

               </ul>

              
            </div>
         </div>
      </nav>


      <div class="container body-content" style="max-width: 80%;">
        <section class="search-section">
          <h3 class="list-label">Employee Attendance</h3>
        </section>

        <hr />

         <div class="bootstrap_buttons">
          <button class="reset btn btn-primary shadow" id="submit-button" type="button" data-column="0" data-filter="">Reset search filters</button>
          <div class="input-group" style="width: 250px; float: right;">
            <input id="date" type="date" class="form-control" name="date" placeholder="" aria-label="" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <button class="btn btn-primary justify-content-end" id="submit-button" type="submit">Search</button>
            </div>
          </div>

         <!--  <input id="date" class="form-control" type="date" name="date">
          <button class="btn btn-primary justify-content-end" id="submit-button" style="float: right;" type="submit">Search</button> -->
          <br>
        </div>  
        <div class="custom-container" id="member-table">
          <!-- member table will be displayed here -->
          <table id="tableSorter" class="table table-striped">
            <thead class="thead-light"> <!-- add class="thead-light" for a light header -->
              <tr>
                <th>ID</th>
                <th>Position</th>
                <th>Name</th>
                <th>Department</th>
                <th class="filter-select filter-exact" data-placeholder="Pick gender">Gender</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Date Hired</th>
                <th>Present</th>
                <th id="edit-delete-head" data-sorter="false">
                  <div>
                  <input type="checkbox" id="check_all">
                  <script type="text/javascript">
                   $(document).ready(function() { 

                   $('#check_all').click(function() {    
                     $('input:checkbox.checkItem').prop('checked', this.checked);    
                   });

                });     
              </script>
                  </div>
                </th>
              </tr>
            </thead>
       
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Position</th>
                <th>Name</th>
                <th>Department</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Date Hired</th>
                <th>Present</th>
                <th>Select All</th>
              </tr>
              <tr>
                <th colspan="11" class="ts-pager">
                  <div class="form-inline">
                    <div class="btn-group btn-group-sm mx-1" role="group">
                      <button type="button" class="btn btn-secondary first" title="first">⇤</button>
                      <button type="button" class="btn btn-secondary prev" title="previous">←</button>
                    </div>
                    <span class="pagedisplay"></span>
                    <div class="btn-group btn-group-sm mx-1" role="group">
                      <button type="button" class="btn btn-secondary next" title="next">→</button>
                      <button type="button" class="btn btn-secondary last" title="last">⇥</button>
                    </div>
                    <select class="form-control-sm custom-select px-1 pagesize" title="Select page size">
                      <option selected="selected" value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="all">All Rows</option>
                    </select>
                    <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="Select page number"></select>
                  </div>
                </th>
              </tr>
            </tfoot>

      <tbody>
        {% for item in data %}
        <tr id="{{ item.employeeId }}">
          <td id="emp_id">{{ item.employeeId }}</td>
          <td id="position">{{ item.positionName }}</td>
          <td id="name">{{ item.firstName ~ " " ~ item.lastName }}</td>
          <td id="department">{{ item.departmentName }}</td>
          <td id="gender">{{ item.gender }}</td>
          <td id="email">{{ item.email }}</td>
          <td id="mobile_num">{{ item.phoneNo }}</td>
          <td id="address">{{ item.location }}</td>
          {% if item.hireDate != None %}
          <td id="date_join">{{ item.hireDate.strftime('%d-%m-%Y') }}</td>
          {% else %}
          <td id="date_join">00-00-0000</td>
          {% endif %}

          {% if item.present == 0 %}
          <td><img alt="Absent" src='{{ url_for('static',filename='images/red-error.png') }}'>Absent</td>
          <td id="checkItem">
            <input type="checkbox" name="check" value="{{ item.employeeId }}" class="checkItem">
          </td>
          {% else %}
          <td><img alt="Present" src='{{ url_for('static',filename='images/green-check-mark.png') }}'>Present</td>
          {% endif %}

        </tr>
        {% endfor %}
      </tbody>
</table>
      <script type="text/javascript">
       $(document).ready(function() { 
       //  $('#check_all2').click(function () {    
       //   console.log(123)
       //   $('input:checkbox.checkItem').prop('checked', this.checked);    
       // });

       });     
      </script>
        </div>
       <button id="submit-button" class="btn btn-primary" style="float: right;" type="submit" >Mark as Present</button>
      </div>
   </form>
</body>
</html>