<!DOCTYPE html>
<html>
<head>
	<title>Edit Employee Information</title>

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/global.css">
	<!-- <link rel="stylesheet" type="text/css" href="static/css/GetEmp.css"> -->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
   <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.3.1.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}" defer></script>

	<style>
		h1 {
			color: white; 
			background: black; 
			height: 55px; 
			display:flex; 
			justify-content: center; 
			align-items: center; 
			font-size: 24px; 
			font-weight:500;
		}
		h2{ /*"Search Employee"*/
		font-size: 36px;
		color: black;
		font-weight: 600;/* Semi-bold*/
		display: flex;
		justify-content: center;
	} 
	h5 { /*Input Titles*/
		font-size: 18px;
		color: black;
		font-weight: 500;/* Medium*/
		display:flex;
		align-self: flex-start;
	}

	input {
		height:40px;
		font-size:16px;
		border-radius: 5px;
		border-width: 1px;
		border-color: #7E7E7E;
		margin-bottom: 10px;
		/*width: 320px;*/
	}
	.gender {
		display: flex;
		align-content: center;
	}
	.card {
		width:781px;
	}
	.custom-label {
		display: flex;
		align-items: center;
		font-size:18px;
		color: #353535;
	}
	.container > .row {
		display: flex;
		justify-content: center;
	}
	.shortInput {
		width:193px;
	}
	.longInput {
		width: 300px;
	}
	button {
		
		font-weight: 500; 
		font-size: 20px; 
		border-width: 0px; 
		border-radius: 5px; 
		height: 50px; 
		width: 320px; 
		color: white;
	}
	.btnGroup {
		display: flex;
		justify-content: center;
	}
	.cancelButton{
		margin-right: 70px;
	}
	.editEmp-section{
		margin: auto;
		margin-top: 30px;
		width: 500px;
		text-align: center;
	}
	/* image container */
	.image-container {
		position: relative;
		width: 250px;
	}
</style>

</head>

	<body>

			<nav class="navbar sticky-top navbar-expand-md navbar-light bg-faded">
				<div class="container-fluid">

					<!-- Brand -->
					<asp:HyperLink ID="brandLink" runat="server" class="navbar-brand" NavigateUrl="~/art_gallery.aspx">
					<asp:Image ID="logo" runat="server" src="image/palette.svg" alt="" class="mr-2" Width="50" ClientIDMode="Static" />
					EMS
				</asp:HyperLink>

				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" runat="server" clientidmode="Static">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="nav navbar-nav mx-auto">
						<!-- menu -->
						<li class="nav-item">
							<a class="nav-link" href="#">Manage Employee</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Attendance</a>
						</li>

					</ul>


				</div>
			</div>
		</nav>

			<h1 class="mb-4">Employee Management System (EMS)</h1>

			<section class="editEmp-section mb-3">
				<h3 class="list-label">Employee Information</h3>
			</section>
			<!-- <button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Add Employee</button>   -->

			<!-- Employee ID:  <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40">   -->
			<form action="/editEmp" autocomplete="on" method = "POST" enctype="multipart/form-data">
			{% for item in data %}
			<div class="container">
				<div class="row col-md-12">
					<div class="card align-items-center mb-5" style="box-shadow: 1px 1px 1px 1px #CDCDCD;">
						<div class="card-body">
							<div class="row">
								<div class="col-md-8">
									<div class="row col-md-12 mt-1 mb-3">
										<div class="col-md-6">
											<!-- <h5>First Name</h5> -->
											<label class="" for="first_name">First Name</label>
											<input id="firstName" class="shortInput form-control" type="text" value="{{ item.firstName }}" name="first_name" >
											<input type="hidden" name="employee_id" value="{{ item.employeeId }}">
										</div>
										<div class="col-md-6">
											<!-- <h5>Last Name</h5> -->
											<label class="" for="last_name">Last Name</label>
											<input id="lastName" class="shortInput form-control" type="text" value="{{ item.lastName }}" name="last_name">
										</div>
									</div>  

									<div class="row col-md-12 mb-3">
										<div class="col-md-6">
											<!-- <h5>Age</h5> -->
											<label class="" for="age">Age</label>
											<input id="age" class="shortInput form-control" type="number" value="{{ item.age }}" name="age">  
										</div>
										<div class="col-md-6">
											<!-- <h5>Phone Number</h5> -->
											<label class="" for="phone_no">Phone Number</label>
											<input id="phoneNo" class="shortInput form-control" type="tel" value="{{ item.phoneNo }}" name="phone_number">  
										</div>
									</div>

									<div class="row col-md-12">
										<div class="col-md-5">
											<!-- <h5>Gender</h5> -->
											<label class="" for="gender">Gender</label>
											<div class="gender">
											{% if item.gender == 'Male' %}
												<input class="mr-2" type="radio" id="male" name="gender_choice" checked="true" value="Male">
												<label class="mr-5 custom-label" for="male">Male</label>
												<input class="mr-2" type="radio" id="female" name="gender_choice" value="Female">
												<label class="custom-label" for="female">Female</label>
											{% else %}
												<input class="mr-2" type="radio" id="male" name="gender_choice" value="Male">
												<label class="mr-5 custom-label" for="male">Male</label>
												<input class="mr-2" type="radio" id="female" name="gender_choice" checked="true" value="Female">
												<label class="custom-label" for="female">Female</label> 
											{% endif %}
										    </div>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<!-- <h5>Employee Image</h5> -->
									<label class="" for="employee_image">Employee Image</label>
									<div id="uploaded_image">
										{% if item.imageUrl != None %}
										<img class="img-thumbnail img-fluid" name="old_profile" alt="Employee Image" src='{{ item.imageUrl }}'>
										<input type="hidden" name="profile_image" value="yes_profile_image">
										{% else %}
										<img class="img-thumbnail img-fluid" alt="Employee Image" src='{{ url_for('static',filename='images/default-profile-img.png') }}'>
										<input type="hidden" name="profile_image" value="no_profile_image">
										{% endif %}
									</div>
									<div class="custom-file">
										<input class="custom-file-input" type="file" name="upload_image" id="upload_image" accept="image/*"/>
										<label class="custom-file-label" for="upload_image">Choose file</label>
									</div>

								</div>
							</div>

							<div class="row col-md-12">
								<div class="col-md-8">
									<!-- <h5>Email</h5> -->
									<label class="" for="email">Email</label>
									<input id="email" class="longInput form-control" value="{{ item.email }}" type="email" name="email">  
								</div>
							</div>

							<div class="row col-md-12 mb-3">
								<div class="col-md-8">
									<!-- <h5>Address</h5> -->
									<label class="" for="address">Address</label>
									<textarea class="form-control" id="address" name="address" style="width: 300px;" rows="3" maxlength="255">{{ item.location }}</textarea>  
								</div>
							</div>

							<div class="row col-md-12">
								<div class="col-md-8">
									<!-- <h5>Primary Skill</h5> -->
									<label class="" for="primary_skill">Primary Skill</label>
									<input id="primarySkill" class="longInput form-control" value="{{ item.primarySkill }}" type="text" name="pri_skill">  
								</div>
							</div>

							<div class="row col-md-12">
								<div class="col-md-8">
									<!-- <h5>Department</h5> -->
									<label class="" for="department">Department</label>
									<input id="department" class="longInput form-control" value="{{ item.departmentName }}" type="text" name="department">
									<input type="hidden" name="department_id" value="{{ item.departmentId }}">  
								</div>
							</div>

							<div class="row col-md-12">
								<div class="col-md-8">
									<!-- <h5>Position</h5> -->
									<label class="" for="position">Position</label>
									<input id="position" class="longInput form-control" value="{{ item.positionName }}" type="text" name="position">
									<input type="hidden" name="position_id" value="{{ item.positionId }}">  
								</div>
							</div>

							<div class="row col-md-12">
								<div class="col-md-4">
									<!-- <h5>Date Hired</h5> -->
									<label class="" for="date_hired">Date Hired</label>
									{% if item.hireDate != None %}
									<input id="dateHired" class="shortInput form-control" style="font-size:16px;" value="{{ item.hireDate.strftime('%Y-%m-%d') }}" type="date" name="date_hired">
									{% else %}
									<input id="dateHired" class="shortInput form-control" style="font-size:16px;" type="date" name="date_hired">
									{% endif %} 
								</div> 

								<div class="col-md-4">
									<!-- <h5>Salary</h5> -->
									<label class="" for="salary">Salary</label>
									<input id="salary" class="shortInput form-control" value="{{ item.salary }}"  type="number" name="salary">  
								</div>
							</div>

							<script>
								$(".custom-file-input").on("change", function () {
									var fileName = $(this).val().split("\\").pop();
									$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
								});
							</script>

<!-- 							<h5>Employee Image</h5>
	<input type=file name="emp_image_file" style="">   --> 
	<div class="btnGroup mt-4">
		<button id="cancel-button" class="cancelButton btn btn-outline-primary" type="button" onclick="history.go(-1);" >Cancel</button>

		<button id="submit-button" class="editButton btn btn-primary" type="submit" >Edit</button>
		<div>
		</div>
	</div>
	{% endfor %}

</div>
</div>
</form>

<!-- <a href="/about">About Us</a> -->
</body>

</html>
