<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>

   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/global.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user_profile.css') }}">
   <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.3.1.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}" defer></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/popper.min.js') }}" defer></script>
   
</head>

<body>
	<nav class="navbar sticky-top navbar-expand-md navbar-light bg-faded">
		<div class="container-fluid">

			<!-- Brand -->
			<asp:HyperLink ID="brandLink" runat="server" class="navbar-brand" NavigateUrl="~/art_gallery.aspx">
			<asp:Image ID="logo" runat="server" src="image/palette.svg" alt="" class="mr-2" Width="50" ClientIDMode="Static" />
			GALERI
		</asp:HyperLink>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" runat="server" clientidmode="Static">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="nav navbar-nav mx-auto">
				<!-- menu -->
				<li class="nav-item">
					<a class="nav-link" href="#">Manage Employee</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Attendance</a>
				</li>

			</ul>


		</div>
	</div>
</nav>

	<section class="profile-section">
		<h3 class="list-label">User Profile</h3>
	</section>

	<div class="container">
		<div class="row">
			<div class="col-5" id="custom-column">
				<div class="card">
					<div class="card-body shadow">
						<div class="card-title mb-4">
							<div class="d-flex justify-content-center">
								<div class="image-container">
									<div id="uploaded_image" data-auto-update="true">
										<img class="img-thumbnail img-fluid" src='https://simonchenyiheng-employee.s3.amazonaws.com/emp-id-4_image_file.jpg' />
									</div>
								</div>
							</div>
						</div>

					
						{% for item in data %}
						<div class="row">
							<div class="col-12">
								<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="memberInfo-tab" data-toggle="tab" href="#memberInfo" role="tab" aria-controls="memberInfo" aria-selected="true">User Info</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="contacts-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="false">Contacts</a>
									</li>
								</ul>
								<div class="tab-content ml-1" id="myTabContent">
									<div class="tab-pane fade show active" id="memberInfo" role="tabpanel" aria-labelledby="memberInfo-tab">
										<div class="row">
											<div class="col-sm-3 col-md-4 col-5">
												<label style="font-weight: bold;">Name</label>
											</div>
											<div id="student-id" class="col-md-8 col-6">{{ item.firstName ~ " " ~ item.lastName }}</div>
										</div>
										<hr />
										<div class="row">
											<div class="col-sm-3 col-md-4 col-5">
												<label style="font-weight: bold;">Gender</label>
											</div>
											<div class="col-md-8 col-6">
												{{ item.gender }}
											</div>
										</div>
										<hr />
										<div class="row">
											<div class="col-sm-3 col-md-4 col-5">
												<label style="font-weight: bold;">Position</label>
											</div>
											<div class="col-md-8 col-6">
												{{ item.positionName }}
											</div>
										</div>
										<hr />
										<div class="row">
											<div class="col-sm-3 col-md-4 col-5">
												<label style="font-weight: bold;">Department</label>
											</div>
											<div class="col-md-8 col-6">
												{{ item.departmentName}}
											</div>
										</div>
										<hr />
										<div class="row">
											<div class="col-sm-3 col-md-4 col-5">
												<label style="font-weight: bold;">Salary</label>
											</div>
											<div class="col-md-8 col-6">
												{{ "RM " ~ "%.2f"|format(item.salary) }}
											</div>
										</div>
										<hr />
										<div class="row">
											<div class="col-sm-3 col-md-4 col-5">
												<label style="font-weight: bold;">Primary Interest</label>
											</div>
											<div class="col-md-8 col-6">
												{{ item.primarySkill }}
											</div>
										</div>
										<hr />
										<div class="row">
											<div class="col-sm-3 col-md-4 col-5">
												<label style="font-weight: bold;">Date Hired</label>
											</div>
											<div class="col-md-8 col-6">
												{{ item.hireDate.strftime('%d-%m-%Y') }}
											</div>
										</div>
										<hr />
									</div>
									<div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">

										<div class="row">
											<div class="col-sm-3 col-md-5 col-5">
												<label style="font-weight: bold;">Email</label>
											</div>
											<div class="col-md-7 col-6">
												{{ item.email }}
											</div>
										</div>
										<hr />

										<div class="row">
											<div class="col-sm-3 col-md-5 col-5">
												<label style="font-weight: bold;">Phone</label>
											</div>
											<div class="col-md-7 col-6">
												{{ item.phoneNo }}
											</div>
										</div>
										<hr />

										<div class="row">
											<div class="col-sm-3 col-md-5 col-5">
												<label style="font-weight: bold;">Address</label>
											</div>
											<div class="col-md-7 col-6">
												{{ item.location }}
											</div>
										</div>
										<hr />

									</div>

								</div>
							</div>
						</div>
						{% endfor %}
						<div id="buttons" class="row my-2 mt-4">
							<input class="btn btn-outline-primary" id="back-button" onclick="history.go(-1);" type="button" value="Back">
							<button id="btnUpdate" onclick="location.href = 'www.yoursite.com';" class="btn btn-primary">Edit Info</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>




</body>

</html>
